
<div class="container-fluid my-5 bg01">
 <div class="row py-5">
  <div class="col-sm-6 offset-sm-6 p-5">
   <h3 class="py-3">さくらねこ</h3>
    <p>公園に住んでいる地域猫の情報共有や思い出を残すことができるコミュニティサイト。<br>地域猫の保護活動をしている方や公園の猫について興味がある方<br>公園の猫の情報を知りたい時や公園の猫について情報共有したい時にぜひご活用ください。</p>
　</div>
 </div>
</div>